
@{
    ViewBag.Title = "Loan";
}

<head>
</head>
<body>
    <h2>Loan</h2>

   
    <form action="" method="post">
        Years:<input type="number" name="years" id="years" min="1" max="40" value="1" /><br />
        Initial Investment:<input type="number" name="amount" id="amount" min="1" max="1000000" value="1" /><br />
        Rate:<input type="number" name="rate" id="rate" min="1" max="100" value="1" /><br />
        <input type="submit" value="Submit" />
    </form>
    

    @if (ViewBag.Years != null && ViewBag.Amount != null && ViewBag.Rate != null)
    {
        <h3><b>Sample Input:</b></h3>

        <p>Initial Investment @ViewBag.Amount</p>
        <p>Interest Rate: @ViewBag.Rate</p>
        <p>Number of Years: @ViewBag.Years</p>

        <h3><b>Sample Output:</b></h3>

        <p>Given @ViewBag.Years years, an investment of $@ViewBag.Amount, and an annual rate of @ViewBag.Rate%, you will have @ViewBag.Total.ToString("C")</p>
    }
    

</body>